.cmplayer-vertical-skin * {
  font-family: "microsoft yahei", "微软雅黑", arial, sans-serif;
  margin: 0;
  padding: 0;
  outline: none;
}
.cmplayer-vertical-skin {
  width: 220px;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  box-shadow: 0px 0px 8px -1px rgba(0, 0, 0, .2);
}
.cmplayer-vertical-skin .cm-btn {
  width: 15px;
  height: 15px;
  background: transparent;
  border: none;
  overflow: hidden;
  cursor: pointer;
  display: block;
}
.cmplayer-vertical-skin .cm-btn.large {
  width: 30px;
  height: 30px;
}
.cmplayer-vertical-skin .cm-btn svg {
  width: 100%;
  height: 100%;
  display: block;
  fill: #bbb;
}
.cmplayer-vertical-skin .cm-thumb {
  width: 220px;
  height: 220px;
  overflow: hidden;
  position: relative;
}
.cmplayer-vertical-skin .cm-thumb .cm-cover {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: block;
  position: absolute;
  z-index: 8;
}
.cmplayer-vertical-skin .cm-thumb .cm-stop-btn {
  width: 50px;
  height: 50px;
  margin: -25px -25px 0 0;
  top: 50%;
  right: 50%;
  padding: 10px;
  bottom: 10px;
  border: 2px solid #fff;
  background: rgba(0, 0, 0, .75);
  border-radius: 50%;
  position: absolute;
  z-index: 9;
  overflow: hidden;
  z-index: 10;
  opacity: 0;
  transition: .2s opacity ease;
  display: flex;
  justify-content: center;
  align-content: center;
}
.cmplayer-vertical-skin .cm-thumb:hover .cm-stop-btn {
  opacity: .75;
}
.cmplayer-vertical-skin .cm-thumb .cm-stop-btn:hover {
  opacity: 1;
}
.cmplayer-vertical-skin .cm-thumb .cm-stop-btn svg {
  width: 60%;
  height: 60%;
  fill: #fff;
}
.cmplayer-vertical-skin .cm-thumb .cm-lyrics {
  width: 230px;
  bottom: 20px;
  left: 50%;
  margin: 0 0 0 -115px;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .75);
  font-size: 12px;
  text-align: center;
  position: absolute;
  z-index: 9;
}
.cmplayer-vertical-skin .cm-meta {
  margin: 10px 0;
  text-align: center;
}
.cmplayer-vertical-skin .cm-meta h2,
.cmplayer-vertical-skin .cm-meta h3 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  line-height: 1em;
}
.cmplayer-vertical-skin .cm-meta .cm-title {
  color: #333;
  font-size: 16px;
}
.cmplayer-vertical-skin .cm-meta .cm-artist {
  color: #777;
  margin: 5px 0 0 0;
  font-size: 14px;
}
.cmplayer-vertical-skin .cm-control {
  width: 200px;
  margin: 5px auto;
  padding: 0 0 10px 0;
}
.cmplayer-vertical-skin .cm-control .cm-seek {
  height: 25px;
  color: #bbb;
  font-size: 12px;
}
.cmplayer-vertical-skin .cm-control .cm-seek .cm-seek-pt {
  clear: left;
  float: left;
}
.cmplayer-vertical-skin .cm-control .cm-seek .cm-seek-dt {
  float: right;
}
.cmplayer-vertical-skin .cm-control .cm-seek .cm-seek-bar {
  width: 100%;
  height: 3px;
  margin: 0 0 5px 0;
  background: #f4f4f4;
  position: relative;
  cursor: pointer;
}
.cmplayer-vertical-skin .cm-control .cm-seek .cm-seek-bar .cm-seek-played {
  width: 0px;
  height: 100%;
  top: 0;
  left: 0;
  background: #0078d7;
  z-index: 9;
  position: absolute;
}
.cmplayer-vertical-skin .cm-control .cm-seek .cm-seek-bar .cm-seek-loaded {
  width: 0px;
  height: 100%;
  top: 0;
  left: 0;
  background: #ebebeb;
  z-index: 8;
  position: absolute;
}
.cmplayer-vertical-skin .cm-control .cm-seek .cm-seek-bar .cm-seek-pp {
    width: 5px;
    height: 5px;
    top: 50%;
    right: 0;
    margin: -7px -7px 0 0;
    background: #0078d7;
    border: 3px solid #fff;
    border-radius: 50%;
    box-shadow: -1px 1px 5px -1px rgba(0, 0, 0, .5);
    display: block;
    position: absolute;
    cursor: pointer;
    z-index: 10;
}
.cmplayer-vertical-skin .cm-control .cm-toolbar {
  width: 190px;
  height: 30px;
  margin: 10px auto 0 auto;
  clear: both;
  
}
.cmplayer-vertical-skin .cm-control .cm-toolbar .cm-volume {
  float: left;
  position: relative;
  z-index: 15;
}
.cmplayer-vertical-skin .cm-control .cm-toolbar .cm-volume .cm-mute-btn {
  top: 0;
  left: 0;
  margin-left: 0;
}
.cmplayer-vertical-skin .cm-control .cm-toolbar .cm-volume .cm-mute-btn .svg-mute,
.cmplayer-vertical-skin .cm-control .cm-toolbar .cm-volume .cm-mute-btn.muted .svg-volume {
  display: none;
}
.cmplayer-vertical-skin .cm-control .cm-toolbar .cm-volume .cm-mute-btn.muted .svg-mute {
  display: block;
}
.cmplayer-vertical-skin .cm-control .cm-toolbar .cm-volume:hover svg {
  fill: #0078d7;
}
.cmplayer-vertical-skin .cm-control .cm-toolbar .cm-volume .cm-vol {
  top: 0;
  left: 5px;
  padding: 5px 10px;
  border: 1px solid #e5e5e5;
  background: #fff;
  position: absolute;
  display: none;
}
.cmplayer-vertical-skin .cm-control .cm-toolbar .cm-volume:hover .cm-vol {
  display: block;
}
.cmplayer-vertical-skin .cm-control .cm-toolbar .cm-volume .cm-vol .cm-volume-bar {
  width: 100px;
  height: 5px;
  background: #ebebeb;
  position: relative;
  cursor: pointer;
  z-index: 1;
}
.cmplayer-vertical-skin .cm-control .cm-toolbar .cm-volume .cm-vol .cm-volume-bar i {
  width: 0px;
  height: 100%;
  background: #0078d7;
  display: block;
}
.cmplayer-vertical-skin .cm-control .cm-toolbar .cm-btn {
  margin: 6px 0 0 25px;
  float: left;
}.cmplayer-vertical-skin .cm-control .cm-toolbar .cm-btn:hover svg {
  fill: #0078d7;
}
.cmplayer-vertical-skin .cm-control .cm-toolbar .cm-toggle-btn {
  margin-top: 0;
}
.cmplayer-vertical-skin .cm-control .cm-toolbar .cm-toggle-btn svg {
  fill: #0078d7;
}
.cmplayer-vertical-skin .cm-control .cm-toolbar .cm-toggle-btn.playing .svg-playing,
.cmplayer-vertical-skin .cm-control .cm-toolbar .cm-toggle-btn .svg-pause {
  display: none;
}
.cmplayer-vertical-skin .cm-control .cm-toolbar .cm-toggle-btn.pause .svg-playing,
.cmplayer-vertical-skin .cm-control .cm-toolbar .cm-toggle-btn .svg-pause {
  display: block;
}
.cmplayer-vertical-skin .cm-control .cm-toolbar .cm-mode-btn svg {
  display: none;
}
.cmplayer-vertical-skin .cm-control .cm-toolbar .cm-mode-btn.default .svg-default,
.cmplayer-vertical-skin .cm-control .cm-toolbar .cm-mode-btn.loop .svg-loop,
.cmplayer-vertical-skin .cm-control .cm-toolbar .cm-mode-btn.random .svg-random {
  display: block;
}